<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stt.dao.QueryLogDao" >
  <resultMap id="BaseResultMap" type="com.stt.entity.QueryLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="exploreName" property="explorename" jdbcType="VARCHAR" />
    <result column="exploreVer" property="explorever" jdbcType="VARCHAR" />
    <result column="explorePlug" property="exploreplug" jdbcType="VARCHAR" />
    <result column="OSName" property="osname" jdbcType="VARCHAR" />
    <result column="OSVer" property="osver" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, date, exploreName, exploreVer, explorePlug, OSName, OSVer, ip, host, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from query_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from query_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stt.entity.QueryLog" >
    insert into query_log (id, name, date, 
      exploreName, exploreVer, explorePlug, 
      OSName, OSVer, ip, 
      host, address)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{explorename,jdbcType=VARCHAR}, #{explorever,jdbcType=VARCHAR}, #{exploreplug,jdbcType=VARCHAR}, 
      #{osname,jdbcType=VARCHAR}, #{osver,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{host,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stt.entity.QueryLog" >
    insert into query_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="explorename != null" >
        exploreName,
      </if>
      <if test="explorever != null" >
        exploreVer,
      </if>
      <if test="exploreplug != null" >
        explorePlug,
      </if>
      <if test="osname != null" >
        OSName,
      </if>
      <if test="osver != null" >
        OSVer,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="host != null" >
        host,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="explorename != null" >
        #{explorename,jdbcType=VARCHAR},
      </if>
      <if test="explorever != null" >
        #{explorever,jdbcType=VARCHAR},
      </if>
      <if test="exploreplug != null" >
        #{exploreplug,jdbcType=VARCHAR},
      </if>
      <if test="osname != null" >
        #{osname,jdbcType=VARCHAR},
      </if>
      <if test="osver != null" >
        #{osver,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stt.entity.QueryLog" >
    update query_log
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="explorename != null" >
        exploreName = #{explorename,jdbcType=VARCHAR},
      </if>
      <if test="explorever != null" >
        exploreVer = #{explorever,jdbcType=VARCHAR},
      </if>
      <if test="exploreplug != null" >
        explorePlug = #{exploreplug,jdbcType=VARCHAR},
      </if>
      <if test="osname != null" >
        OSName = #{osname,jdbcType=VARCHAR},
      </if>
      <if test="osver != null" >
        OSVer = #{osver,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stt.entity.QueryLog" >
    update query_log
    set name = #{name,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      exploreName = #{explorename,jdbcType=VARCHAR},
      exploreVer = #{explorever,jdbcType=VARCHAR},
      explorePlug = #{exploreplug,jdbcType=VARCHAR},
      OSName = #{osname,jdbcType=VARCHAR},
      OSVer = #{osver,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      host = #{host,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>